 <div class="modal fade" id="modalAdicionarSecretaria" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Adicionar Secretaria</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <form id="formAdicionarSecretaria">
          <div class="mb-2">
            <label class="form-label">Sigla</label>
            <input type="text" class="form-control" id="addSigla" required>
          </div>

          <div class="mb-2">
            <label class="form-label">Nome</label>
            <input type="text" class="form-control" id="addNome" required>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button class="btn btn-primary" onclick="salvarSecretaria()">Salvar</button>
      </div>
    </div>
  </div>
</div>

   <div class="modal fade" id="modalEditarSecretaria" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Editar Secretaria</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <form id="formEditarSecretaria">

          <input type="hidden" id="editarIdSecretaria">

          <div class="mb-2">
            <label class="form-label">Sigla</label>
            <input type="text" class="form-control" id="editarSigla" required>
          </div>

          <div class="mb-2">
            <label class="form-label">Nome</label>
            <input type="text" class="form-control" id="editarNome" required>
          </div>

        </form>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button class="btn btn-primary" onclick="salvarEdicaoSecretaria()">Salvar</button>
      </div>

    </div>
  </div>
</div>

   <script src="{{ url_for('static', filename='js/modais/modaissecretaria.js') }}"></script>