  <!-- Modal Adicionar -->
    <div class="modal fade" id="modalAdicionarModelo" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Adicionar Modelo</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <form id="formAdicionar">
              <div class="mb-3">
                <label class="form-label">Modelo:</label>
                <input type="text" id="txtAddModelo" class="form-control mb-2" placeholder="Insira um Modelo">

              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button class="btn btn-primary" onclick="salvarNovoModelo()">Salvar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Editar -->
    <div class="modal fade" id="modalEditarModelo" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Editar Modelo</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <form id="formEditar">
              <input type="hidden" id="editIdModelo">
              <div class="mb-2">
                <label class="form-label">Nome</label>
                <input type="text" class="form-control" id="editNomeModelo" required>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button class="btn btn-primary" onclick="salvarEdicaoModelo()">Salvar alterações</button>
          </div>
        </div>
      </div>
    </div>
  {% include "modais/modaisglobal.html" %}
    <script src="{{ url_for('static', filename='js/modais/modaismodelo.js') }}"></script>